.tm-sidebar-wrapper {
    background: #f2f2f2 url("/images/default.jpg") no-repeat scroll 0% 0%;
}
.tm-toolbar {
    background-color: #2089C0;
}

.tm-block-content-top, .tm-block-content-bottom {
    padding: 0px;
}

.tm-content-top > .uk-width-1-1.uk-grid-margin {
    /*баг фикс*/
    margin-top: 0;
}

.otstup {
    padding: 20px;
}

.otstup h1 {
    margin: 0;
}

.row-fluid {
    width: auto;
}
.row-fluid.row.uk-grid {
    margin-left: -40px;
}
.row {
    margin-left: 0;

}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    height: 40px;
}

.ce-module .ce-cf-container .inputbox {
    width: 100%;
    box-sizing: border-box;
}
.progress {
    margin-top: 20px;
}

.file_name {
    display: inline-block;
    width: 80%;
    overflow: hidden;
    color: #ccc;
}
.tm-block-footer strong.uk-h2 {
    color: #000;
}

.tm-block-footer strong {
    color: #333;
}

.tm-block-footer a {
    text-decoration: underline;
}

.uk-text-large {
    font-size:18px;
}
.uk-text-large strong {
    text-shadow: 0px 0px 2px black;
}

.uk-contrast.uk-text-large a {
    text-decoration: underline;
}

.tm-block-footer strong.viber,
.viber {
color: #7D529E;
text-shadow: 0 0  0;
}

.tm-block-footer strong.whatsapp,
.whatsapp {
    color: #49C659;
}


.uk-form-file {
    /* 1 */
    display: inline-block;
    vertical-align: middle;
    /* 2 */
    position: relative;
    /* 3 */
    overflow: hidden;
}

/*
 * 1. Required for Firefox
 * 2. Expand height and required for the cursor
 */

.uk-form-file input[type="file"] {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    /* 1 */
    left: 0;
    /* 2 */
    font-size: 500px;
}

.rf-filenames-list div:not(:first-child){
    color: #fff;
}
.rf-filenames-list {
    margin-top:10px;
}

.uk-form .uk-form-danger::placeholder {
    color: #d83535;
}

a.uk-contrast:hover {
 color: white;
}

.uk-navbar-center {
  height: 120px;
}
